/* Intro */
#intro{
  height: 100vh;
  background:url(../image/intro.png)no-repeat center/cover;
}

/* index */
#index{
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

#index .inner{
  display: flex;
}
.left_wrap{
  flex:2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.oval{
  position: relative;
  width:300px;
  height: 370px;
  border: 3px solid var(--brown);
  border-radius:60% 40% 58% 42% / 56% 44% 56% 44%;
  background-color: #f7c19ab2;
}
.oval:after{
  content:'';
  position:absolute;
  bottom:10px;
  right:10px;
  width: inherit;
  height: inherit;
  border: 3px solid var(--brown);
  border-radius:60% 40% 58% 42% / 56% 44% 56% 44%;
  background-color: #fff;
}
.oval h2{
  position:absolute;
  top:50%;
  right:40px;
  transform:translateY(-50%);
  z-index: 3;
}

.right_wrap{
  flex:3;
}
.right_wrap ul{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  row-gap:25px;
}
.right_wrap ul li{
  display:flex;
  overflow:hidden;
  width: 630px;
  height: 80px;
  border: 3px solid var(--brown);
  border-radius: 30px;
  box-shadow: 7px 7px 0 var(--brown);
}
.right_wrap ul li span{
  font-family: Line_B, sans-serif;
  padding-left:20px;
  font-size:38px;
  line-height: 80px;

}
.right_wrap .index{
  width:90px;
  height: 100%;
  font-family:sebang_B, sans-serif;
  font-size:48px;
  text-align: center;
  border-right:3px solid var(--brown);
  line-height: 80px;
  background-color:var(--yellow);
}
#index:after{
  content:'';
  display: block;
  position:absolute;
  top:0;
  left:0;
  width: 35%;
  height: inherit;
  background-color:var(--beige);
}

.left_wrap, .right_wrap{z-index:1;}
/* profile */
#profile{
  position:relative;
  background:var(--beige);
}
#profile:after{
  content:'';
  display: block;
  position:absolute;
  top:0;
  right:0;
  width: 35%;
  height: inherit;
  background-color:var(--yellow);
}
#profile .inner{
  display:flex;
  gap:50px;
}
.info{
  flex:1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.info .info_box{
  position: relative;
  width: 100%;
  border: 3px solid var(--brown);
}
.info .info_box h3{
  position:absolute;
  top:-3px;
  width: 200px;
  height: 40px;
  margin-left:30px;
  border: 3px solid var(--brown);
  line-height: 35px;
  font-family:sebang_B, sans-serif;
  font-size: 20px;
  text-align: center;
}
.info .info_box>ul{
  display:flex;
  flex-direction: column;
  gap:5px;
  padding: 50px 30px 20px;
}
.info .info_box>ul li:not(.not-flex){
  display: flex;
  gap:8px;
}
.info .info_box>ul li a{
  font-weight: bold;
  color:crimson;
  padding:10px;
}
.career h3{ background-color: var(--green);}
.career span{
  font-weight: bold;
  color:#5f9c7f;
}
.not-flex p{
  display:inline-block;
  margin-left:10px;
}
.not-flex ul{
  margin-left:70px;
  padding:5px 0;
}
.not-flex ul li:not(:first-child){padding-left:10px;}
.license h3{ background-color: var(--purple);}
.education h3{ background-color: var(--pink);}
.education span{
  font-weight: bold;
  color:#db576d;
}
.license span{
  font-weight:bold;
  color:#c17bba;
}
.personal_box{
  flex:2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:60px;
  z-index: 1;
}
.personal{
  display: flex;
  justify-content: space-around;
}
.id_picture{
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 450px;
  border-radius: 40% 40% 0 0;
  border: 3px solid var(--brown);
}
.id_picture img{
  position: absolute;
  bottom:-5px;
  left:50%;
  width: 95%;
  transform: translateX(-50%);
}
.personal_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:35px;
}
.personal_info .name{
  margin-top:50px;
  font-family:sebang_B, sans-serif;
  font-size:32px;
  letter-spacing: 3px;
  text-align: center;
}
.personal_info .name span{
  display: block;
  font-family: Line_R, sans-serif;
  font-size: 20px;
  letter-spacing: 0;
}
.personal_info ul{padding-left:75px;}
.personal_info ul li{
  font-size:18px;
}
.skills{
  display: flex;
  flex-direction: column;
  gap:30px;
}
.main_skills{
  width:100%;
  height: 100px;
  border: 3px solid var(--brown);
}
.main_skills ul{
  display: flex;

}
.sub_skills{
  width:100%;
  height: 50px;
  border: 3px solid var(--brown);
}
.sub_skills ul{
  display: flex;
}

/* Web publishing */
#publishing .inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:25px;
}
.content{
  width: 100%;
  height:550px;
  overflow:hidden;
  border-radius: 20px;
  border: 3px solid var(--brown);
}
.content .top{
  display: flex;
  gap:7px;
  align-items: center;
  height: 40px;
  padding-left:10px;
  border-bottom:3px solid var(--brown);
  background-color:var(--beige);
}
.top span{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FFB9C5;
}
.top span:nth-child(2){background-color:var(--yellow);}
.top span:nth-child(3){background-color:#A6D4BE;}
.thumbs{
  position: relative;
  width: 100%;
}
.thumbs ul{
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.thumbs ul li{
  flex:1;
  height: 140px;
  border-radius: 20px;
  border: 3px solid var(--brown);
}
.thumbs .pre_btn, .thumbs .next_btn{
  position: absolute;
  top:50px;
  font-size:40px;
}
.thumbs .pre_btn{
  right:101%;
  transform: rotate(180deg);

}
.thumbs .next_btn{
  position: absolute;
  left:101%;
}

/* UI/UX Design */
#uiux{
  position:relative;
}
#uiux h2{
  width: 1200px;
  margin:auto;
  padding-top:70px;
  text-align: center;
}
.banner_box{ 
	position:relative;
	width:100%;
	margin: 30px auto 0;
}
.banner_box .banner{   
	position: absolute;
	top: 65px;
  left:50%;
  width:1400px;
  transform: translateX(-50%);
}
.banner_box .banner ul{
	position:relative;  
	display: flex;
  gap:20px;
  width:6660px;
  align-items: center;
}
.banner_box .banner ul li{
  position:relative;
	width:700px;  
	height:466px; 
  background-color:#fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.banner_box .banner ul li:not(.active):before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color:rgba(83, 51, 37, 0.3);
}
.banner_box .banner ul li.active{
  border-radius:10px;
  overflow: hidden;
  transform:scale(1.3);
  transition:0.1s;
  border: 3px solid var(--brown);
  z-index: 100;
}
.banner_box .banner ul li.active .button_wrap{opacity: 1;}
.banner_box .banner ul li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.button_wrap{
  display: flex;
  gap:7px;
  position:absolute;
  bottom:50px;
  right:50px;
  width: 200px;
  height: 40px;
  opacity: 0;
}
.banner_box .banner ul li .about_btn{
  flex:1;
  border-radius: 15px;
  background-color:var(--beige);
  color:var(--brown);
  border:3px solid var(--brown);
  line-height: 35px;
  text-align: center;
  font-family:sebang_B, sans-serif;
}

/*좌우버튼*/
.ban_btn .fa-solid{
  font-size: 40px;
  color: var(--brown);
}
.ban_btn .ban_left,
.ban_btn .ban_right{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ban_btn .ban_left{left: 160px;}
.ban_btn .ban_right{right: 160px;}
.ban_btn .ban_left:hover,
.ban_btn .ban_right:hover{opacity: 0.3;}

.ui_modal{
	display:none; 
	position:absolute; 
	left:0; 
	top:0;
	width:100%; 
	height:100vh; 
	background:rgba(0,0,0,0.7); 
	z-index:1000;
	overflow-x:hidden;
	overflow-y:auto; 
}
.ui_modalBox{
	position: relative;

	min-height: 100%;
	margin:0 auto;
}
.ui_modal_content{   
	position:absolute;
  overflow: hidden;
	width:100%;
	min-height: 100%;
	background-color:var(--beige);
}
.ui_modal_content li{
  position: relative;
	display:none;
  text-align: center;
}
.ui_modal_content li .back{
  position: absolute;
  top: 15px;
  right: 30px;
  font-family:sebang_B, sans-serif;
  font-size:48px;
  cursor: pointer;
}

/* Graphic Design */
#graphic{position:relative;}
#graphic .inner{
  display:flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}
.graphic_grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  gap:30px;
  width: 100%;
}

.graphic_grid .item{
  overflow:hidden;
  border:3px solid var(--brown);
  border-radius: 20px;
  line-height: 130px;
  box-shadow:7px 7px 0 var(--brown);
  /* text-indent: -999999px; */
  cursor: pointer;
}
.graphic_grid .item:nth-child(1){
  grid-area:span 2/span 1;
  background:url(../image/gd-01.png)no-repeat center/cover;
}
.graphic_grid .item:nth-child(2){
  background:url(../image/gd-02.png)no-repeat center/cover;
}
.graphic_grid .item:nth-child(3){
  grid-area:span 2/span 1;
  background:url(../image/gd-03.png)no-repeat center/cover;
}
.graphic_grid .item:nth-child(4){
  grid-area:span 2/span 1;
  background:url(../image/gd-04.png)no-repeat center/cover;
}
.graphic_grid .item:nth-child(5){
  background:url(../image/gd-05.png)no-repeat center/cover;
  
}
.graphic_grid .item:nth-child(6){
  grid-area:span 1/span 2;
  background:url(../image/gd-06.png)no-repeat center/cover;
}
.graphic_grid .item:nth-child(7){
  background:url(../image/gd-07.png)no-repeat center/cover;
}
.graphic_grid .item:nth-child(8){
  grid-area:span 2/span 1;
  background:url(../image/gd-08.png)no-repeat center/cover;
}
.graphic_grid .item:nth-child(9){
  background:url(../image/gd-09.png)no-repeat center/cover;
}
.graphic_grid .item:nth-child(10){
  background:url(../image/gd-10.png)no-repeat center/cover;

}
.graphic_grid .item:nth-child(11){
  background:url(../image/gd-11.png)no-repeat center/cover;
}



.graphic_grid .item img{
  width: inherit;
}

/* Graphic Design - modal */
.modal{
	display:none; 
	position:absolute; 
	left:0; 
	top:0;
	width:100%; 
	height:100vh; 
	background:rgba(0,0,0,0.7); 
	z-index:1000;
	overflow-x:hidden;
	overflow-y:auto; 
}
.modalBox{
	position: relative;
	width: 1200px;
	min-height: 100%;
	margin:0 auto;
}
.modal-content{   
	position:absolute;
  overflow: hidden;
	width:100%;
	min-height: 100%;
	background-color:var(--beige);
  border:3px solid var(--brown);
}
.modal-content>li{
	display:none;
}

.modal-btn{
	position:absolute;
	left:100%;
	top:30px;
	width:80px;
	height:150px;
	overflow:hidden;
	z-index:200;
}
.modal-close{
	width: 65px;
  height: 65px;
  border: 3px solid var(--brown);
  border-radius: 5px;
  background-color:var(--beige);
  color:var(--brown);
  font-family: Line_B, sans-serif;
  font-size:34px;
  text-align: center;
  line-height: 65px;
  cursor: pointer;
  transition:0.2s;
}
.modal-close:hover, .btn_box .pre:hover, .btn_box .next:hover, .top_btn:hover{
  background-color:var(--brown);
  color:var(--beige);
}
.btn_box{
	display: flex;
  gap:2px;
  width: 65px;
  margin-top:2px;
}
.btn_box .pre, .btn_box .next{
  flex:1;
  height: 30px;
  border: 3px solid var(--brown);
  border-radius: 5px;
  background-color:var(--beige);
  color:var(--brown);
  font-family: Line_B, sans-serif;
  text-align: center;
  cursor: pointer;
  line-height: 28px;
  transition:0.2s;
}
.modal_page{ 
	color:var(--beige);
	width: 65px;
	padding-top:10px;
	text-align:center;
  font-size:16px;
  font-family:sebang_B, sans-serif;
}
.top_btn, .ui_top_btn{
  position:fixed;
  width: 50px;
  height: 50px;
  right:70px;
  bottom:50px;
  border-radius:50%;
  border:3px solid var(--brown);
  background-color:var(--beige);
  color:var(--brown);
  font-family: Line_B, sans-serif;
  line-height: 50px;
  text-align: center;
  font-size:24px;
  cursor: pointer;
}

/* Web planning  */
#planning .inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
#planning h2{text-align: right;}
#planning .container{
  display:flex;
  justify-content: space-between;
}

.file_list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.file_list .item{
  text-align: center;
}
.file_list .item span{
  display: block;
}
.web .content{
  width: 1000px;
}
