
body{
  margin:0;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.mockup{
    .mobile-mockup{
      width:430px;
      height: 850px;
      position:relative;
      border-radius: 30pxs;
      &:before{
        content:'';
        position: absolute;
        width:97.5%;
        height: 98.5%;
        border-radius:55px;
        border: 0.5px solid #878181;
        background-color:#f7f6ee;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        box-shadow: 0 0 10px rgba(0,0,0,0.25);
      }
      .iframe-url{
        position: absolute;
        overflow:hidden;
        width: 90%;
        height: 94%;
        background-color: #333;
        border:1px solid #eee;
        border-radius:40px;
        color:#fff;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:2rem;
        iframe{
          width: 100%;
          height: 100%;
          background:#fff;
        }
      }
      .camera{
        width: 100px;
        height: 25px;
        background-color:#333;
        position: absolute;
        top: 33px;
        border-radius:30px;
        left: 50%;
        transform: translateX(-50%);
        z-index:1;
        span{
          background-color: #555;
          position: absolute;
          top:50%;
          transform: translateY(-50%);
          right:9%;
          width: 15px;
          height: 15px;
          border-radius:50%;        
        }
      }
      .home-btn{
        position:absolute;
        width: 400px;
        height: 85px;
        bottom: 6px;
        left:50%;
        transform:translateX(-50%);
        span{
          position: absolute;
          top:50%;
          left:50%;
          transform:translate(-50%, -50%);
          width:50px;
          height: 50px;
          border:2px solid #ddd;
          border-radius: 50%;
          &:before{
            content:'';
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow:inset 0 0 5px #606060;
          }
        }
      }
      .power{
        position: absolute;
        right: 1%;
        top:230px;
        span{
          position: absolute;
          width: 7px;
          height: 90px;
          border-radius: 0 5px 5px 0;
          background-color: blue;
        }
      }
      .volume{
        position:absolute;
        width: 7px;
        height: 200px;
        top: 126px;
        right: 99%;
        span{
          position: absolute;
          width: 7px;
          height: 60px;
          border-radius: 0 5px 5px 0;
          transform: rotateY(180deg);
          background-color: blue;
          &:nth-child(1){
            top: 0;
            height: 25px;
          }
          &:nth-child(2){
            bottom: 78px;

          }
          &:nth-child(3){
            bottom: 0;
          }
        }
      }
      .volume span, 
      .power span{
        background-color: #625e5e;
      }
      .display{
        position:absolute;
        top:50%;
        left:50%;
        width:96%;
        height: 97.7%;
        border-radius:51px;
        background:#333;
        transform:translate(-50%,-50%);
      }
    }
}
