/* Font CDN--------------- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Noto Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* font-family: "Noto Sans KR", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
/* font-family: "Nanum Myeongjo", serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Raleway", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Exo 2", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: "Bebas Neue", sans-serif; */


/* Icon Font CDN---------- */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
/* font-family: 'Material Symbols Outlined'; */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
/* font-family: fontawesome; */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css'); 
/* font-family: xeicon;  */

/* 프리텐다드체 - 눈누 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 긱블말랑이체-눈누 */
@font-face {
  font-family: 'GeekbleMalang2WOFF2';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Gmarket Sans OTF -------------------
  font-family: GmS_B, sans-serif;
  font-family: GmS_L, sans-serif;
  font-family: GmS_M, sans-serif;
*/
@font-face{
  font-family: GmS_B;
  src: url('../font/GmarketSansBold.woff') format('woff');
}
@font-face{
  font-family: GmS_L;
  src: url('../font/GmarketSansLight.woff') format('woff');
}
@font-face{
  font-family: GmS_M;
  src: url('../font/GmarketSansMedium.woff') format('woff');
}

/* 나눔스퀘어 ---------------------------------
font-family: Nanum Square EB, sans-serif;
font-family:  Nanum Square B, sans-serif;
font-family: Nanum Square R, sans-serif;
font-family: Nanum Square L, sans-serif;
*/

@font-face{
  font-family: Nanum Square EB;
  src: url('../font/NanumSquareEB.woff') format('woff');
}
@font-face{
  font-family: Nanum Square B;
  src: url('../font/NanumSquareB.woff') format('woff');
}
@font-face{
  font-family: Nanum Square R;
  src: url('../font/NanumSquareR.woff') format('woff');
}
@font-face{
  font-family: Nanum Square L;
  src: url('../font/NanumSquareL.woff') format('woff');
}





