@import url(reset.css);
@import url(font.css);
@import url(common.css);

/* moblie 전용 */
.pc_only{display:none;}

/* header -- 스크롤하면 색상변경 */
header{position:fixed;width: 100%;height: 5rem;z-index: 1;background-color:#fff;}
header .rel{display: flex;align-items: center;justify-content: center;}
.logo a{display:block;width: 2.8rem;height: 3rem;}
.logo img{position:absolute;width:inherit}
.mo_menu_btn{position: absolute;top: 50%;right: 2rem;width:2.8rem;height:1.8rem;transform: translateY(-50%);}
.mo_menu_btn span{position:absolute;display:block;width:2.8rem;height: 0.3rem;background-color: #214AA0;text-indent: -999999px;}
.mo_menu_btn span:not(:first-child){margin-top:0.6rem;}
.mo_menu{position:fixed;top:5rem;right:-110%;width:100%;height:100vh;padding:3.5rem;background-color:#fff;}
.menu_wrap{margin-bottom:3rem;}
.menu_wrap a{display: block;font-family: 'GeekbleMalang2WOFF2',sans-serif;font-size: 3.5rem;line-height: 7rem;}
.channel_wrap p{font-size:2rem;font-weight: bold;}
.channel_wrap span{display: block;color:#6697FF;font-weight: bold;font-size:3.5rem;margin-top:1rem;}
.sns{display:flex;gap:1.5rem;margin:3rem 0;}
.sns img{width:5rem;}
.tel{display:flex;gap:1rem;margin-top:5rem;}
.tel span{font-size:2.4rem;line-height: 3.6rem;font-weight: bold;color:#214AA0;}
.mo_open header{background-color: #2d64d9;padding-left:2rem;}
.mo_open header .rel{justify-content:start;}
.mo_open header .mo_menu{right:0;}
.mo_open header .logo_color{display:none;}
.mo_open .mo_menu_btn{ right:5rem;}
.mo_open .mo_menu_btn span{background-color:#fff;}
.mo_open .mo_menu_btn span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}
.mo_open .mo_menu_btn span:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}
.mo_open .mo_menu_btn span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}
.mo_open .mo_menu_btn span:not(:first-child){margin-top:0;}


/* visual */
#section1{padding-top:6rem;background:#6697FF;}
#section1:after{content:'';position:absolute;top:99%; left:0;width:100%;height:20rem;
  background: url(../img/visual_bg.png)no-repeat top/cover;z-index:-1;}
.deco1{position:absolute;left:50%;width:16rem;height:16rem;background: url(../img/deco01.png)no-repeat;transform:translateX(-50%);}
.deco2{position:absolute;left:55%;width:9.4rem;height:7.1rem;background: url(../img/deco02.png)no-repeat;}
.deco3{position:absolute;top:10rem;left:0;width:3.4rem;height:3.1rem;background: url(../img/deco03.png)no-repeat;}
.txt_wrap{position:relative;}
.btn_wrap{display:flex;justify-content: center;align-items: center;column-gap:1rem;margin:3rem 0;}
.visual_list li{display:flex;justify-content: center;align-items: center;gap:1rem;margin-top:1rem;}
.visual_list li div{display:flex;flex-direction:column;justify-content:center;align-items:center;width:10rem;height:10rem;border-radius:1.5rem;
  border:0.3rem solid transparent; background-image:linear-gradient(rgba(255, 255, 255,0.8), rgba(255, 255, 255,0.8)),linear-gradient(45deg, #d18edb 0%, #2d64d9 100%);background-origin: border-box;background-clip: content-box, border-box;}
.visual_list li div .tit{font-size: 1.3rem;text-align: center;}
.visual_list li div .count{font-family: 'GeekbleMalang2WOFF2',sans-serif;font-size:3.6rem;color:#214AA0;}

/* mobile-menu */
/* section2 - 다락만의 혜택 */
#section2{padding:22rem 2rem 5rem;}
.promotion_list{display:flex;margin-top:3rem;flex-direction: column;align-items: center;row-gap:2.5rem;}
.img_wrap{position:relative;width:16rem;height: 16rem;border-radius:50%;overflow: hidden;border:0.3rem solid transparent; background-image:linear-gradient(#fff, #fff),linear-gradient(45deg, #d18edb 0%, #2d64d9 100%);
  background-origin: border-box; background-clip: content-box, border-box;transition: 0.5s;}
.img_wrap img{height: inherit;object-fit:cover;object-position:center;}
/* .img_wrap:before{content:url(../img/sale.png);position:absolute;top:0;left:0;width:5rem;height: 5rem;} */
.img_wrap:hover .detail{animation: wave-move  0.8s;animation-fill-mode: forwards;}
.detail{position: absolute; width: 16rem; height: 16rem; padding:4.5rem 1rem 0 4rem; background-color: rgba(255, 255, 255,0.9); top: 0rem; right:100%; }
.detail p{text-align:center;font-size:1.6rem;color:#333;letter-spacing: -0.1rem;margin-bottom:0.5rem;}
.detail .d01{font-size:3.5rem;color:#214AA0;font-weight: bold;}
.detail .d02{font-size:3.5rem;color:#C72C2C;font-weight: bold;}
.detail .txt{font-size:2.0rem;color:#333;}

@keyframes wave-move{
  100%{transform: translateX(13rem);}
}


/* section3 - 다락사이즈 */
#section3{padding:5rem 2.5rem;background: linear-gradient(42deg, rgba(112,158,255,1) 0%, rgba(227,152,238,1) 100%);}
.card_group01, .card_group02{display:flex;flex-direction: column;gap:2rem;margin-top:2rem;}
.card{display:flex;padding:2rem;border-radius: 3.5rem;box-shadow: 0 0 1rem rgba(0,0,0,0.2);background-color:#fff;}
/* .card::before{content:url("attr(data-size)");} */
.size{font-family: 'GeekbleMalang2WOFF2', sans-serif;color:#FF8BAE;font-weight: bold;font-size:1.4rem;}
.size span{font-family: 'Pretendard-Regular', sans-serif; color:#9B9B9B;}
.size_kr{position:relative;width:10rem;padding-top:4rem;font-size:1.8rem;font-family: 'GeekbleMalang2WOFF2', sans-serif;color:#6697FF;
  text-align:center;}
.size_kr img{position:absolute;top:-0.4rem;left:50%;transform:translateX(-50%);width:3rem;}
.left_wrap{display:flex;flex-direction:column;justify-content:space-between;margin-left:1rem;letter-spacing: -0.1rem;}

/* section4 - 이용후기 */
#section4{padding:5rem 2.5rem 7rem 2.5rem;overflow:hidden;background-color:#fff;}
.review_wrap{display:flex;gap:2rem;padding:10rem 0.5rem 0.5rem;overflow-x: scroll;scrollbar-width: none;}
.review_con{display:flex;flex-direction:column;justify-content:space-between;gap:2rem;padding:2em;border-radius: 3.5rem;box-shadow: 0 0 1rem rgba(0,0,0,0.2);background-color:#fff;}
.review_con .name{display:block;position:relative;width:9rem;height: 2.5rem;margin:0 auto;font-size: 1.4rem;line-height:2.5rem;text-align:center;background-color:#FF5693;color:#fff;}
.review_con:nth-of-type(2n) .name{background-color:#214AA0;}
.review_con .name:before{content:'';position:absolute;bottom:100%;left:0;width:9rem;height:9rem;background-image:url(../img/people02.png);background-size:contain;background-repeat: no-repeat;background-position: bottom;}
.review_con:nth-of-type(2) .name:before{background-image:url(../img/people04.png);}
.review_con:nth-of-type(3) .name:before{background-image:url(../img/people01.png);}
.review_con:nth-of-type(4) .name:before{background-image:url(../img/people03.png);}
.review_con .text{width:25rem;text-align:justify;line-height:1.3;}
.review_con .date{text-align: right;color:#909090;font-size:1.2rem;}

/* section5 - 다락가이드 */
#section5{padding:5rem 2.5rem;background-color:#C1D4FE;}
.guide_wrap{display:flex;flex-direction: column;gap:2rem;margin-top:5rem;}
.guide_wrap .con_group:nth-child(1) .contents:nth-child(1) span{color:#54A702;}
.guide_wrap .con_group:nth-child(1) .contents:nth-child(2) span{color:#9857BE;}
.guide_wrap .con_group:nth-child(2) .contents:nth-child(1) span{color:#214AA0;}
.guide_wrap .con_group:nth-child(2) .contents:nth-child(2) span{color:#E87D2C;}
.guide_wrap .con_group{display:flex;justify-content: space-between;gap:2rem;}
.guide_wrap .contents{position:relative;overflow:hidden;width:50%;height:21.5rem;border-radius:2.5rem;box-shadow: 0 0 1rem rgba(0,0,0,0.2);background-color:#fff;}
.guide_con{position: absolute;top:0;left:0;width:100%;height:100%;padding:2rem;}
.guide_con .text{margin-top:2rem;}
.guide_con img{position:absolute; bottom:2rem; right:2rem; width:4rem;}
.que{font-family: 'GeekbleMalang2WOFF2',sans-serif;font-size:3.6rem;font-weight: bold;}
.con_hover{position:absolute;top:100%;left:0;width:100%; height:100%;padding:1rem;transition:0.4s;}
.con_hover.active{top:0;}
.con_hover .text{font-size:1.2rem;margin-top:1rem;color:#fff;line-height: 1.4;}

.guide_wrap .con_group:nth-child(1) .contents:nth-child(1) .con_hover{background: linear-gradient(42deg, rgba(126,217,35,1) 0%, rgba(198,227,179,1) 100%);}
.guide_wrap .con_group:nth-child(1) .contents:nth-child(2) .con_hover{background: linear-gradient(42deg, rgba(189,140,228,1) 0%, rgba(255,174,174,1) 100%);}
.guide_wrap .con_group:nth-child(2) .contents:nth-child(1) .con_hover{background: linear-gradient(42deg, rgba(102,151,255,1) 0%, rgba(102,190,218,1) 100%);}
.guide_wrap .con_group:nth-child(2) .contents:nth-child(2) .con_hover{background: linear-gradient(42deg, rgba(255,188,57,1) 0%, rgba(255,139,55,1) 100%);}

/* footer */
footer{padding:2rem;background-color:#214AA0;color:#fff;}
.address{font-size:1.3rem;line-height:1.4;}
.address a{display:block; text-align:center;}
.address img{width:16rem;}
.address hr{margin:1rem 0;}
address{margin-top:1rem;font-style:normal;}
address p{text-align: center;color:#C1D4FE;}

/* scroll-top */
.scrollTop_btn{position:fixed;z-index:10;bottom:2rem;right:2rem;width:5rem;height: 5rem;border-radius: 3rem;box-shadow: 0 0 3rem rgba(0,0,0,0.4);background-color:#fff;display:none;}
.scrollTop_btn a{display:block;width: 100%; height: 100%;text-align: center;line-height: 5rem;font-size:1.4rem;font-family: 'GeekbleMalang2WOFF2',sans-serif;}
