@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Noto+Sans+KR:wght@100..900&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Poetsen+One&display=swap');

@font-face {
  font-family: 'HSSanTokki20-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* 공통 */
html{scroll-behavior: smooth;}
body{width:100%;font-family: "Noto Sans KR";color: #333;}
.inner{width:1400px; height:inherit; margin:0 auto;display:flex;}
h2{font-family: "Jomhuria", serif;color:#666;font-size:150px;font-weight: 300;margin-top:70px;}
h3{font-family: "Noto Sans KR", sans-serif;color:#666;font-size:35px;color:#FF7C98;}

/* Top Button */
.top{display: block;position: fixed; right: 30px; bottom: 30px;width: 60px;height: 60px;border-radius: 50%;background-color: #fff;color:#FF7C98;transition: 0.35s;box-shadow: 0 4px 10px #999;z-index: 10;
}
.top .material-symbols-outlined{width:inherit;height:inherit;font-size:40px;text-align: center;line-height: 60px;}
.top:hover{background-color: #FF7C98;color:#fff;}

/* header---------------- */
header{height:70px;background-color:#FDF8EC;}
header .inner{justify-content: space-between;align-items:center;}
header .logo{display:inline-block;width:66px;height:47px;background: url(../image/h_logo.png) no-repeat center top;margin-top:10px;}

/* 유틸메뉴 */
header .util li{display:inline-block;padding-left:15px;color:#FF7C98;font-weight: bold;font-size:18px;}
header .util li:before{content:'|';margin-right:15px;}
header .util li:first-child:before{display:none;}
header .util li:hover{text-decoration:underline;}

/* 고정 메뉴 - SPOON */
.gnb{position:fixed; top:300px; left: -150px; display: flex;flex-direction: column;z-index:999;}
.gnb a{position:relative;display:inline-block;width:285px; height:120px;background-image: url(../image/spoon_hotpink.png);transition: 0.5s;color:#ffffff;}
.gnb a:hover{background-image:url(../image/spoon_grey.png);transform: scale(1.4) translateX(100px);color:#FF7C98; }
.gnb span{position:absolute;display:block;width:80px;right:20px;top:58%;transform: translateY(-50%);text-align: center;font-weight: bold;}


/* Section------------ MENU */
#menu{height:930px;}
#menu .inner{justify-content: center;}

/* Section------------ visual */
.visual{height: 542px;background-color:#FDF8EC;}
.white_bg{position:relative;width:700px;height:630px;background:#fff;box-shadow: 0 0 20px #ffc2c2;border-radius: 400px 400px 0 0;overflow:hidden;}
.white_bg > img{position:absolute;bottom:13px;left:50%;transform: translateX(-50%);width:300px;}
.white_bg p{font-family: 'HSSanTokki20-Regular';font-size:38px; font-weight: bold;color:#1685D5;text-align: center;padding-top:85px;}
.white_bg p + span{display:inline-block;width:100%;height:295px;background: url(../image/wonder.png) no-repeat center top;background-size: 80%;}
.white_bg a{position: absolute;transition:0.5s;}
.white_bg a img{width:90px;}
.white_bg .img_candy{bottom:120px; right:110px;}
.white_bg .img_strawberry{top:330px;right:60px;}
.white_bg .img_blueberry{top:380px;left:80px;}
.white_bg .img_candy:hover, .white_bg .img_strawberry:hover, .white_bg .img_blueberry:hover{transform: rotateY(360deg) scale(1.2);}

/* 물결 애니메이션 */
@keyframes rotate-ani{
  0%{transform:rotate(0);}
  100%{transform:rotate(360deg);}
}
.wavebox{position: absolute;top:330px;left: -580px;}
.wavebox span {
  display:inline-block; 
  width: 1800px;
  position: absolute;
  height: 1800px;
  background-color: #FF7C98;
  top: 200px;
  animation-delay: 1s;
  border-radius:49% 51% 53% 47% / 58% 43% 57% 42%;
  font-size:14px;padding:10px;
  margin-top:25px;}
.wavebox span:nth-child(1){animation: rotate-ani 6s linear infinite;opacity: 0.3;}
.wavebox span:nth-child(2){animation: rotate-ani 4s linear infinite reverse;opacity: 0.5;}
.wavebox span:nth-child(3){animation: rotate-ani 10s linear infinite;}

/* 아이스크림 BEST MENU */
.menu_wrap{height: 365px;background: url(../image/bg_hero.jpg);}
.menu_box{display:flex;justify-content: center;height: 100%;align-items: center;flex-direction: column;}
.menu_box p{font-size:32px; color:#FF7C98;margin: 90px 0 10px;font-weight: bold;}
.icecream{width:1000px;display: flex;}
.icecream a{flex:1;position: relative;}
.icecream a::before{content:url(../image/ice.png)no-repeat;position:absolute;top:0;left:0;width:110px;height:180px;}
.icecream span{position:absolute;font-size:14px; text-align: center;line-height: 171px;display:block;width:100%;height:100%;letter-spacing:-1px;opacity: 0;z-index: 2;color:#fff;}
.icecream img{width:100%;}
.icecream a:hover span{opacity: 1;}
.icecream a:hover img{filter: brightness(0.5);}

/* Section------------ BR Story */
#story{height: 1000px;}
#story .inner{flex-direction: column;align-items: center;position:relative;}
#story form{position:relative;width: 100%;height: 660px;}
.content{width:1100px; height: 433px;background: #ffffff;border-radius: 80px;box-shadow: 0 0 10px rgba(0,0,0,0.5);display:flex;padding:40px 60px;box-sizing:border-box;position:absolute;top:50px;left:50%;transform: translateX(-50%);opacity: 0;}
.content img{ flex:1;width:300px;}
.content .text{flex:2;display:flex;flex-direction: column;padding-left:50px;}
.content .text strong{position:relative;font-size:32px; color:#666;font-weight: 900;}
.content .text strong:after{content: '';position:absolute;left:0;top:111%;width:100%; height: 8px; background-color:#FF7C98;}
.content .text span{font-size:18px; margin-top:50px;line-height: 1.6;text-align: justify;font-weight: 400;}

#story input{display: none;}
#story input[name=year]:checked+span{opacity: 1;}
#story input[name=year]:checked+span+em{background-position: bottom;}
#story em{display:inline-block;width:50px;height:50px;}


.year_1945 em{position: absolute;bottom:69px; left:220px;background:url(../image/1945.png)no-repeat;}
.year_1960 em{position: absolute;bottom:69px; left:400px;background:url(../image/1960.png)no-repeat;}
.year_2001 em{position: absolute;bottom:69px; left:585px;background:url(../image/2001.png)no-repeat;}
.year_2007 em{position: absolute;bottom:69px; left:765px;background:url(../image/2007.png)no-repeat;}
.year_2016 em{position: absolute;bottom:69px; left:950px;background:url(../image/2016.png)no-repeat;}
.year_2020 em{position: absolute;bottom:69px; left:1130px;background:url(../image/2016.png)no-repeat;}

.year{position:absolute;bottom:114px}
.year ul{display: flex;width: 1100px;justify-content: space-around;position: relative;}
.year ul:before{content:'';position:absolute;top:-36px;width: 83%;height: 20px;background-color: #FFDCE9;z-index:-2;}
.year ul li span{display:block;width:30px; height: 30px;background-color: #FF7C98;border-radius: 50%;margin-bottom:20px;}

/* Section------------BR Benefit */

/* 헤택 애니메이션 */
@keyframes benefit-ani1{
  0%{transform:translatey(0);}
  50%{transform:translatey(50px);}
100%{transform:translatey(0);}
}
@keyframes benefit-ani2{
  0%{transform:translatey(50px);}
  50%{transform:translatey(0);}
100%{transform:translatey(50px);}
}

#benefit{height: 1000px;background-color: #FFB3C3;}
#benefit .inner{flex-direction: column;align-items: center;}
#benefit h2{color:#1685D5;text-shadow: 0 0 10px white;}
#benefit h3{color:#fff;}
#benefit p{font-size: 20px;color:#555;margin-top:120px;font-weight: bold;}
.benefit_list{display:flex;margin-top:100px;width: 100%;justify-content: space-around;}
.benefit_list a:nth-child(even){animation: benefit-ani1 4s linear infinite alternate;}
.benefit_list a:nth-child(odd){animation: benefit-ani2 4s linear infinite alternate;}
.benefit_list a:hover img{filter: blur(2px);}
.benefit_list img{width:250px; height:250px; border-radius: 30px;box-shadow: 0 0 10px rgba(0,0,0,0.5);}



/* Section------------Delivery */
#delivery{height: 1000px;}
#delivery .inner{flex-direction: column;align-items: center;}
.step_img{display: flex;width:1100px;margin: 150px 0 100px;align-items: center;}
.step_img .circle{flex:1;text-align: center;position:relative;}
.step_img .circle:not(:last-child):after{content: '\e5e1';font-family: 'Material Symbols Outlined';position:absolute;top:25px;right:0;font-size:30px;color:#FF7C98;}
.step_img .circle span{position:absolute;top:-55px;left:20%;width:200px;height:200px;border:1px solid #FF7C98; border-radius:40% 60% 65% 35% / 40% 45% 55% 60%;}
.step_img .circle span:nth-child(1){animation: rotate-ani 6s linear infinite;opacity: 0.4;}
.step_img .circle span:nth-child(2){animation: rotate-ani 4s linear infinite reverse;opacity: 0.7;}
.step_img .circle span:nth-child(3){animation: rotate-ani 10s linear infinite;border-color: #1685D5;}
.step_img .circle img{transition:0.3s;}
.step_img .circle:hover img{transform:rotateY(360deg) scale(1.2);}

/* step01 ~ step03 */
.step_box{display: grid;width:1100px;height: 180px;grid-template-columns: 1fr 1fr 1fr;grid-template-rows: 1fr 1fr;border-radius: 70px;background-color: #fff;box-shadow: 0 0 10px rgba(0,0,0,0.5);text-align: center;margin-top:50px;}
.step_box .step{position:relative;color:#FF7C98;font-family: 'HSSanTokki20-Regular';font-size:32px;line-height: 85px;}
.step_box .step:not(:first-child):before{content: '';position:absolute;width:3px;height:120px;border-radius:3px;background-color: #bbccd9;top:30px;left:0;}


/* footer*/
footer{padding:40px 0;background-color: #FF7C98;}
footer .inner{justify-content: space-between;align-items: center;}
address{font-style: normal;color:#fff;font-size:14px;line-height: 1.8;}
address p:first-child{font-size: 20px;font-weight: bold;}
address p:last-child{opacity: 0.7; font-weight: 200;font-size:12px;}
footer img{width:58px; height:73px; opacity: 0.7;}